.scriptTypeSelectors, .objContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0 0 0;
}

.scriptSelectButton, .objectionSelectButton {
    flex: 0 1 auto;
    padding: 0.25em 0.5em;
    margin: 0.5em;
    background-color: rgb(64, 64, 64);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.25em;
    transition: all 300ms ease-in-out;
    color: var(--main-text-color);
    font-weight: 800;
    letter-spacing: 0.05em;
}

.objectionSelectButton {
    color: var(--obj-selector-button);
}

.scriptSelectButton:hover, .scriptSelectButtonActive {
    background-color: var(--accent-color);
}

.objectionSelectButton:hover, .objectionSelectButtonActive {
    background-color: var(--obj-selector-button);
    color: black;
}

/* .buttonHintScripts, .buttonHintObjections {
    position: relative;
    padding: 0.75em 2em;
    text-align: center;
    color: var(--accent-color);
}

.buttonHintScripts::before, .buttonHintObjections::before {
    content: "";
    position: absolute;
    left: 4vw;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border: 20px solid transparent;
}

.buttonHintScripts::before {
    border-top: none;
    border-bottom: 30px solid var(--highlight-color);
}

.buttonHintObjections::before {
    border-bottom: none;
    border-top: 30px solid var(--highlight-color);
} */